<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- <link rel="stylesheet" href="singleBlog.css" /> -->
    <title>Single Blog</title>
  
    <style>
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container{
        width: 90%;
        margin: auto;
        position: relative;
        top: 50px;
    }
    .center{
        text-align: center;
    }
    
    .upper{
        display: flex;
        
    }
    .lower{
        display: flex;
        justify-content: space-around;
    }
    .side-icons{
        display: flex;
        flex-direction: column;
        height: 30vh;
        width: 50px;
        align-items: center;
        justify-content: space-evenly;
        float: right;
        width: 20%
    }
    .div{
        width: 80%;
    }
    .div img{
        position: relative;
        width: 80%;
    }
    .content{
        width: 70%;
    }
    .other-b{
        width: 20%;
        padding: 5px;
    }
    .other-b> div{
        box-shadow: 5px 0 5px rgba(0,0,0,0.2);
        cursor: pointer;
        margin-bottom: 5px;
        border-radius: 5px;
        padding: 5px;
        height: auto;
    }
    .other-b> div:hover{
        background: lightblue;
    }
    .side-icons span{
        border: 1px solid #111;
        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
        justify-content: center;
        cursor: pointer
    }
    
    .comment  input,.comment textarea{
        display: block;
        width: 50%;
        background: transparent;
        border-bottom: 2px solid #888;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        margin-bottom: 10px;
    }
    .comment{
        margin-top: 30px;
    }
    .footer{
        background: #111;
        /* position: absolute; */
        height: 70px;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #888;
        font-size: 15px;
        margin-top: 100px;
    }
    
    .comment .btn{
        background: #390ABE;
        color: #fff;
        width: 150px;
        margin-top: 20px;
        padding: 10px;
        border: none;
    }
    
    .fa-arrow-left{
        margin-left: 50px;
        margin-top: 40px;
    }
    
    @media screen and (max-width: 700px) {
        .lower{
            flex-direction: column;
        }
        .content{
            width: 100%;
        }
        .div> img{
            width: 100%;
        }
        .side-icons span{
            width: 20px;
            height: 20px;
        }
        .side-icons{
            position: relative;
            top: -30px;
        }
        .other-b{
            width: 100%;
            margin-top: 10px;
        }
        .comment input, .comment textarea{
            width: 100%;
        }
        .back{
            color: #000;
        }
        .comments{
          background: yellow;
      }
    }
    </style>
  </head>
  <body>
    <a href="/getAllArticles" class="back"
      ><i class="fa fa-arrow-left" aria-hidden="true"></i
    ></a>
    <div class="container">
      <h2 class=""><%=data.Title%></h2>
      <div class="upper">
        <div class="div">
          <img src="<%=data.Picture%>" alt="" />
        </div>
        <div class="side-icons">
          <span><i class="fa fa-heart" aria-hidden="true"></i></span>
          <span><i class="fa fa-share-square-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-bookmark" aria-hidden="true"></i></span>
          <span><i class="fa fa-moon-o" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="lower">
        <div class="content">
          <p>
            <%=data.Content%>
          </p>
        </div>
        <div class="other-b">
          <h4 class="center">Trending Blogs</h4>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit labore
            eaque dignissimos autem, pariatur odio doloribus eligendi officiis
            inventore rerum accusamus exercitationem itaque quis ratione
            voluptatem distinctio sed recusandae unde
          </div>
          <div>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem,
            cumque quos repellat harum quibusdam aliquam commodi vel molestias
            quaerat. Veritatis magnam, consequatur quam commodi voluptatibus ut
            natus ex totam aut.
          </div>
        </div>
      </div>
      
      <h6 style="color: #111;">Comments</h6><br />

      <%data.Comments.forEach(comment=>{ %>
      <div class="comments" style="margin-bottom:10px;  width: 50%; padding: 5px; border-radius: 5px; box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);">
        <h6><%=comment.Name%></h6>
        <div class="c">
          <%=comment.Message%>
        </div>
      </div>
      <%})%>


      <div class="comment">
        <form id="form1" class="form">
          <input type="text" placeholder="Name" name="Name"/>
          <textarea
            name="Message"
            id="txt"
            cols="70"
            rows="3"
            placeholder="Write your comment here..."
          ></textarea>
          <button class="btn" onsubmit="comment('<%=data._id%>')">Comment</button>
        </form>
      </div>
    </div>
    <div class="footer">
      <p>&copy; acele happy, all right reserved.</p>
    </div>

    <script>
let token = localStorage.getItem('token')
if(!token){
  location.href = '/loginAsUser'
}

        function comment(id){
          fetch("https://atpl-my-brand.herokuapp.com/comment/"+id, { 
           method: 'PATCH',
           mode:'cors',
           headers:{
               'Access-Control-Allow-Origin':'*'
   
       }})
       .then(res=>res.json())
       .then(data=>console.log(data))
       .catch(er=>console.log("Error "+er))
      }
    </script>
  </body>
</html>
